body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-container {
  width: 30% !important;
  padding: 30px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

form > div {
  margin: 10px 0px !important;
}

form > button {
  margin-top: 20px !important;
}

.prikaz {
  margin: 25px;
}

.dodajPravilo {
  width: 30% !important;
  padding: 30px;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.konfiguracija > table {
  align-items: center;
  align-self: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}